
<!-- NOTE FOR INDEX HTML THYMELEAF -->

<div class="container">
    <div class="square" th:each="bil : ${bilList}">
        <img th:src="${bil.billede}" alt="Car Image" />
        <div>
            <label>Name:</label>
            <span th:text="${bil.navn}">Name</span>
        </div>
        <div>
            <label>Modelyear:</label>
            <span th:text="${bil.alder}">Model</span>
        </div>
        <div>
            <label>Type:</label>
            <span th:text="${bil.type}">Type</span>
        </div>
        <div>
            <label>Color:</label>
            <span th:text="${bil.farve}">Color</span>
        </div>
        <div>
            <label>Lisenceplate:</label>
            <span th:text="${bil.nummerplade}">Lisenceplate</span>
        </div>
    </div>
</div>

<!-- husk stylesheet + thymeleaf link -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MainPage</title>
</head>
<body>
<div class="container">
    <div class="square">
        <div>
            <label>ID:</label>
            <span>ID</span>
        </div>
        <div>
            <label>Brand:</label>
            <span>Brand</span>
        </div>
        <div>
            <label>Modelyear:</label>
            <span>Modelyear</span>
        </div>
        <div>
            <label>Type:</label>
            <span>Type</span>
        </div>
        <div>
            <label>Color:</label>
            <span>Color</span>
        </div>
        <div>
            <label>Lisenceplate:</label>
            <span>Lisenceplate</span>
        </div>
    </div>
</div>